name: deploy on llamaEdge

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  issues: write
  packages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: build
        run: |
          npm install
          npm run build

      - name: Clone target repository
        run: git clone https://github.com/LlamaEdge/www.git

      - name: Copy build files
        run: |
          cd www
          mkdir -p docs
          cp -r ../build/* ./docs

      - name: Push directory to another repository
        if: ${{ github.event_name == 'push' }}
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.GH_TOKEN }}
        with:
          source-directory: 'build'
          destination-github-username: 'LlamaEdge'
          destination-repository-name: 'www'
          target-directory: 'docs'
          user-email: juyichen0413@foxmail.com
          target-branch: main
